<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Badge Cloner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="j4rj4r">
    <link rel="stylesheet" href="res/css/bulma/bulma.min.css">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="hero"><div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-spaced">Page d'attente</h1>
          <h2 id="info" class="subtitle">{{raison}}</h2>
          <a href="{{redirect}}" class="button is-link">Suivant</a>
        </div>
        </div>
      </section>
    </div>
  </body>
</html>
